# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List popular languages for Data Science.
- List some common libraries used by Data Scientists.
- List some Tools used in Data Science.
- Give an example of arithmetic expressions in python.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL (Structured Query Language)
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. Caret

| Data Science Tools |
---------------------
| Jupyter Notebooks |
| R studio |
| Visual Studio Code|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [1]:
#This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Rushang Gala